body {
	margin: 0;
	padding: 0;
	background-color: pink;
}




h1 {
	text-align: center;
}



#grid-box {
	display: grid;

	text-align: center;
	justify-items: center;
	

}

#box-content {

	width: 400px;
	height: 100%;
	border: 1px solid black;
	box-sizing: border-box;

}

button {
	background-color: pink;


}

